@font-face {
	font-family: baskervaldx;
	src:
		local("Baskervaldx-Reg"),
		local("Baskervaldx Reg"),
		url("/fonts/Baskervaldx-Reg.otf") format("opentype");
}

@font-face {
	font-family: baskervaldx;
	src:
		local("Baskervaldx-Ita"),
		local("Baskervaldx Ita"),
		url("/fonts/Baskervaldx-Ita.otf") format("opentype");
	font-style: italic;
}

@font-face {
	font-family: baskervaldx;
	src:
		local("Baskervaldx-Bol"),
		local("Baskervaldx Bol"),
		url("/fonts/Baskervaldx-Bol.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: baskervaldx;
	src:
		local("Baskervaldx-BolIta"),
		local("Baskervaldx BolIta"),
		url("/fonts/Baskervaldx-BolIta.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
}

:root {
	font-family: baskervaldx, serif;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-size: 1.2rem;
}

@media (min-resolution: 1.5dppx) {
	:root {
		font-size: 2.4rem;
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 93vh;
}

header {
	margin: auto;
}

main {
	flex-grow: 1;
	margin: auto;
	padding: 0 2em;
	max-width: 30em;
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.3;
}

footer {
	position: relative;
	margin: 3rem auto 1rem;
	font-size: 60%;
}

sup {
	font-size: 60%;
}

.banner {
	position: relative;
	margin: 2rem 3rem 0;
	font-size: 400%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-style: italic;
}

.tabular {
	font-variant-numeric: tabular-nums;
}

/* partly from https://scripter.co/sidenotes-using-only-css/,
   partly from https://github.com/edwardtufte/tufte-css,
   partly just figured out */

.note-contents {
	font-size: 80%;
	position: relative;
}

@media (min-width: 74rem) {
	.note-contents {
		width: 16rem;
		margin-top: 1rem;
	}

	/* alternate left and right notes */
	.sidenote:nth-of-type(even), .margin-note:nth-of-type(even) {
		.note-contents {
			margin-right: -18rem;
			float: right;
			clear: right;
			text-align: left;
		}
	}

	.sidenote:nth-of-type(odd), .margin-note:nth-of-type(odd) {
		.note-contents {
			margin-left: -18rem;
			float: left;
			clear: left;
			text-align: right;
		}
	}
}

@media (max-width: 74rem) {
	.note-contents {
		float: left;
		text-align: left;

		width: 86%;
		margin: 0.5rem 0;
		padding-left: 14%;
	}
}

.note-contents::before {
	position: relative;
	vertical-align: baseline;
}

.sidenote::after, .margin-note::after {
	vertical-align: super;
}

/* set up counters for sidenotes only */
body {
	counter-reset: sidenote-counter;
}

.sidenote {
	counter-increment: sidenote-counter;
}

.sidenote .note-contents::before {
	content: counter(sidenote-counter)".";
	font-weight: bold;
}

.sidenote::after {
	content: counter(sidenote-counter);
	font-size: 60%;
	font-weight: bold;
	margin-right: 0.3em;
	margin-left: -0.3em;
}
